<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.fatimazza.androidbasic">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewsInConstraintActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListViewActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".IntentMoveForResultActivity" />
        <activity android:name=".IntentMoveObjectActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".ViewsActivity" />
        <activity android:name=".IntentActivity" />
        <activity android:name=".IntentMoveDataActivity" />
        <activity android:name=".IntentMoveActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>
